@model TRYING.Models.Person

@{
    ViewData["Title"] = "Delete person";
}



    <label asp-for="name">@Model.name</label>
    <label asp-for="age">@Model.age</label>
    <label asp-for="description">@Model.description</label>
<form asp-action="Delete" asp-route-id="@Model.id" method="post">
    <input asp-for="id"/>
    <input type="submit" value="Delete"/>
</form>